APP_NAME=OnimaiBaseV3
NODE_ENV=development
LOG_LEVEL=info
BOT_PREFIX=!
WHATSAPP_PRINT_QR=true
BOT_OWNER_NUMBERS=
WA_API_BOOTSTRAP_SESSIONS=main-session
WA_API_RETRY_LIMIT=10
ONIMAIBASEV3_DRY_RUN=true
